
<container>
    <!-- Button trigger modal -->
<button ng-click="uc.openPicker()" type="button" class="btn btn-primary">
       Add Work
      </button>
      
    <table class="table">
        <thead>
            <h1>Web Design</h1>
            <tr>
                <th scope="col">Thumbnail</th>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Delete</th>
                <th scope="col">Edit</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">img</th>
                <td>A Thing</td>
                <td>A description</td>
                <td>
                    <button class="btn btn-danger">Delete</button>
                </td>
                <td>
                    <button class="btn btn-warning">Edit</button>
                </td>
            </tr>

        </tbody>
    </table>
    <table class="table">
        <thead>
            <h1>Graphic Design</h1>
            <tr>
                <th scope="col">Thumbnail</th>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Delete</th>
                <th scope="col">Edit</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">img</th>
                <td>A Thing</td>
                <td>A description</td>
                <td>
                    <button class="btn btn-danger">Delete</button>
                </td>
                <td>
                    <button class="btn btn-warning">Edit</button>
                </td>
            </tr>

        </tbody>
    </table>

    <table class="table">
        <thead>
            <h1>Art</h1>
            <tr>
                <th scope="col">Thumbnail</th>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Delete</th>
                <th scope="col">Edit</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">img</th>
                <td>A Thing</td>
                <td>A description</td>
                <td>
                    <button class="btn btn-danger">Delete</button>
                </td>
                <td>
                    <button class="btn btn-warning">Edit</button>
                </td>
            </tr>

        </tbody>
    </table>

</container>